@using MapWebSite.Resources.text

@*Register container*@
<form class="form form-hidden" id="register-form">

    <h1 class="main-title">@TextDictionary.LRegisterTitle</h1>
    <p>
        @Html.Label("register-message", TextDictionary.LRegisterMessage, new { id = "register-message", @class = "register-message" })
    </p>

    <input class="default-input" placeholder="@TextDictionary.LUsernameInput" name="username" type="text" required>
    <div class="input-border"></div>

    <input class="default-input" placeholder="@TextDictionary.LFirstNameInput" name="firstName" type="text" required>
    <div class="input-border"></div>

    <input class="default-input" placeholder="@TextDictionary.LLastNameInput" name="lastName" type="text" required>
    <div class="input-border"></div>

    <input class="default-input" placeholder="@TextDictionary.LPasswordInput" name="password" type="password" required>
    <div class="input-border"></div>

    <div class="button-group">
        <button class="default-button" onclick="changePage('Login')">@TextDictionary.LBackButton</button>
        <button class="default-button" onclick="register('@this.Url.Action("Register", "Login")')">@TextDictionary.LSubmitRegisterButton</button>
    </div>


</form>