<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    @Styles.Render("~/FrameworkContent/css")
    @Styles.Render("~/Content/login_sass")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <canvas id="canvas"></canvas>

    @*Main container*@
    @*Contains two container: one for login and one for register*@

    <div class="form-container">
        <img class="main-logo" id="mainlogo" src="../Resources/resources/WebDisasterLogo.png">

        @RenderBody()


        @{ Html.RenderPartial("~/Views/Login/LoginForm.cshtml"); }

        @{ Html.RenderPartial("~/Views/Login/RegisterForm.cshtml"); }


         
    </div>

    @Scripts.Render("~/scripts/login")
</body>
</html>