@using MapWebSite.Resources.text
@using MapWebSite.Model
@using MapWebSite.Core

@{
    @*LINE BELLOW IS FOR FIXING: fix the bug with the id counter.. main-menu-icon-0 must be followed by main-menu-icon-1, and not main-menu-icon-2 (bug can be caused by role restriction)*@
    @*Delete above comment on next commit*@
    int sectionsCount = 0;
}

@*Summary: partial view used for Menu.
    Menu is divided in three sections:
        -main-menu (corner left) which manage the displayed secondary menu
        -secondary-menu (left) which contains general interactions
        -top-menu (top) which contains map-points interactions
    Displayed features are provided based on user roles
*@


<div class="fixed-menu">

    <div id="main-menu" class="main-select-menu">
        <div class="main-select-menu-arrows">
            <button onclick="changeMenuContent('up')" class="main-select-menu-arrow-up"></button>
            <button onclick="changeMenuContent('down')" class="main-select-menu-arrow-down"></button>

        </div>
        <div id="main-select-menu-icon" class="main-select-menu-icon">
            @*Principal Menu Item: User Details*@

            <object class="current_displayed_icon" id="main-menu-icon-@(sectionsCount++)" width="130px" height="110px" type="image/svg+xml" data="~/Resources/resources/icons/user_details_icon.svg"></object>


            @*Principal Menu Item: Manage data points*@

            @if (!User.IsInRole(UserRoles.Anonymous.GetEnumString()))
            {
                <object class="" id="main-menu-icon-@(sectionsCount++)" width="130px" height="110px" type="image/svg+xml" data="~/Resources/resources/icons/points_management_icon.svg"></object>

            }

        </div>
    </div>

    @{ sectionsCount = 0; }

    <nav id="secondary-menu" class="secondary-menu">

        @*Secondary menu: used for User details*@
        <ul class="current_displayed_menu" id="secondary-menu-items-@(sectionsCount++)">

            @if (!User.IsInRole(UserRoles.Anonymous.GetEnumString()))
            {
                <li class="secondary-menu-item">
                    <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/settings_icon.svg"></object>
                    <button onclick="requestSettingsPage('account-settings','/Resources/css/settings_points_upload.scss')">@TextDictionary.HMenuSettingsText</button>
                </li>
            }
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/info_icon.svg"></object>
                @Html.ActionLink(TextDictionary.HMenuAboutText, "Logout", "Home", null)
            </li>
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/logout_icon.svg"></object>
                @Html.ActionLink(TextDictionary.HMenuLogoutText, "Logout", "Home", null)
            </li>

        </ul>

        @*Secondary menu: used for Manage data points*@
        @if (!User.IsInRole(UserRoles.Anonymous.GetEnumString()))
        {
            <ul id="secondary-menu-items-@(sectionsCount++)">
                <li class="secondary-menu-item">
                    <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/upload_points_icon.svg"></object>
                    <button onclick="requestSettingsPage('upload-points','/Resources/css/settings_points_upload.scss')">@TextDictionary.HMenuUploadPointsText</button>
                </li>
                <li class="secondary-menu-item">
                    <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/palette_icon.svg"></object>
                    <button onclick="requestSettingsPage('create-palette-color','/Resources/css/settings_color_picker.scss')">@TextDictionary.HMenuCreatePaletteText</button>
                </li>
            </ul>
        }

    </nav>





    <div id="top-menu" class="top-menu box">
        <div class="pre-text-area">
            <button id="map_criteria_button">
                @Html.SVG("~/Resources/resources/icons/eye_icon.svg", new { height = "25px", width = "28px" })
            </button>
            <button id="notification_button">
                @Html.SVG("~/Resources/resources/icons/bell_icon.svg", new { height = "25px", width = "25px" })
            </button>
            <button id="map_type_button">
                @Html.SVG("~/Resources/resources/icons/map_icon.svg", new { height = "25px", width = "25px" })
            </button>

        </div>
        <div class="text-area">
            @if (RouteConfig.CurrentUser != null)
            {
                <div class="top-menu-item">
                    @TextDictionary.GreetingMessage,
                    <b>
                        @RouteConfig.CurrentUser.FirstName
                    </b>
                </div>
            }
            @Html.Label(TextDictionary.HTMSelectedDataset, new { @class = "top-menu-item" })
            @Html.Label(TextDictionary.HTMDefaultDataset, new { @class = "top-menu-item current-dataset-text", id = "current-dataset-text" })

        </div>

        <div class="buttons-area">
            <button onclick="displayPointsLayerPage(true,'GetChoseDatasetPage')" class="top-menu-item">
                <object width="15px" height="13px" type="image/svg+xml" data="~/Resources/resources/icons/set_icon.svg"></object>
            </button>
            <button onclick="displayPointsLayerPage(true,'GetColorPalettePage')" class="top-menu-item">
                <object width="15px" height="13px" type="image/svg+xml" data="~/Resources/resources/icons/simple_palette_icon.svg"></object>
            </button>
        </div>

    </div>
</div>


@Scripts.RenderFormat("<script src={0} type='module'></script>", "~/scripts/menu")
