@using MapWebSite.Resources.text
@model  MapWebSite.Domain.ViewModel.ChoseDatasetViewModel
@{
    Layout = null;
}

<input type="hidden" id="_use-dataset-button-text" value="@TextDictionary.HPSCDUseButton" />
<input type="hidden" id="_preview-dataset-button-text" value="@TextDictionary.HPSCDPreviewButton" />

<div  
     class="points-settings-layer-container-palette-content points-settings-layer-container-content">
    <div class="ps_header">
        <h4>@Html.Raw(TextDictionary.HPSCDTitleText)</h4>
        @Html.DropDownList("filter",
                         EnumHelper.GetSelectList(typeof(MapWebSite.Core.Database.DataSetsFilters)),
                         new { id = "datasetFilterValue", onchange = "loadMorePointsDatasets(true)" }
                         )

        <input type="search" id="datasetSearchValue" placeholder="@TextDictionary.HPSCDSearchInput" onkeyup="loadMorePointsDatasets(true)" />
        <input type="hidden" id="currentDatasetIndex" value="1" />
    </div>
    <div class="ps_left" id="ps_left" onscroll="loadMorePointsDatasets(false)">
        <table>
            <tr class="table-header">
                <th><object width="14px" height="35px" type="image/svg+xml" data="~/Resources/resources/icons/user_default_icon.svg"></object></th>
                <th>Dataset Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </table>
    </div>
    <aside class="ps_right ps_right-hidden" id="ps_right">
        <p>@TextDictionary.HPSCDInfoTitleText</p>
        <ul>
            <li>
                <label class="label-header">@TextDictionary.HPSCDHeightLabel</label>       
                <label id="height_limit_left" class="limit left-limit">-inf</label>
                <label>-</label>
                <label id="height_limit_right" class="limit right-limit">inf</label>
            </li>
            <li>
                <label class="label-header">@TextDictionary.HPSCDDefRateLabel</label>
                <label id="defrate_limit_left" class="limit left-limit">-inf</label>
                <label>-</label>
                <label id="defrate_limit_right" class="limit right-limit">inf</label>
            </li>
            <li>
                <label class="label-header">@TextDictionary.HPSCDStdDevLabel</label>
                <label id="stddev_limit_left" class="limit left-limit">-inf</label>
                <label>-</label>
                <label id="stddev_limit_right" class="limit right-limit">inf</label>
            </li>
        </ul>

    </aside>
</div>

<script>
    loadMorePointsDatasets(true);
</script>

 