@using MapWebSite.Resources.text

@*Register container*@
@using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @class = "form form-hidden", @id = "register-form" }))
{
    <h1 class="main-title">@TextDictionary.LRegisterTitle</h1>
    <p>
        @Html.Raw(TextDictionary.LRegisterMessage)
    </p>

    <input class="default-input" placeholder="@TextDictionary.LUsernameInput" name="username" type="text" required>
    <div class="input-border"></div>

    <input class="default-input" placeholder="@TextDictionary.LFirstNameInput" name="firstName" type="text" required>
    <div class="input-border"></div>

    <input class="default-input" placeholder="@TextDictionary.LLastNameInput" name="lastName" type="text" required>
    <div class="input-border"></div>

    <input class="default-input" placeholder="@TextDictionary.LPasswordInput" name="password" type="password" required>
    <div class="input-border"></div>

    <div class="button-group">
        <button class="default-button" onclick="changePage('Login')">@TextDictionary.LBackButton</button>
        <input class="default-button" type="submit" value="@TextDictionary.LSubmitRegisterButton">
    </div>

}