@using MapWebSite.Resources.text

@{
    Layout = null;
}

<div class="select-geoserver-source-container">
    <div class="select-geoserver-source-content">
        <div class="content-left">
            <h1>@TextDictionary.HMenuSGSTitleText</h1>
            <small>@TextDictionary.HMenuSGSDescriptionText</small>

            <div class="inputs">
                <div class="input-content">
                    <label>@TextDictionary.HMenuSGSNameInputLabel</label>
                    @Html.TextBox("name", null, new { placeholder = @TextDictionary.HMenuSGSNameInputPlaceholder, @class = "default-input-gray", onkeyup = "enableGeoserverUploadSubmit()" })
                </div>
            </div>
            <button id="geoserverSelectFinishButton" onclick="uploadSelectedGeoserverLayer()" disabled>@TextDictionary.HMenuSGSUploadButton</button>
        </div>
        <div class="gliph">
            @Html.SVG("~/Resources/resources/icons/select_geoserver_source_gliph.svg", new { @class = "current_displayed_icon", height = "460px", width = "650px" })
        </div>
    </div>
</div>

<script>
    getScript('#settings-layer', '/Resources/js/settings/settings_select_geoserver_layer.js');
</script>