<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    @Styles.Render("~/FrameworkContent/css")
    @Styles.Render("~/Content/home_sass")
    @Styles.Render("~/css/openlayers")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/hub")
    @Scripts.RenderFormat("<script src={0} type='module'></script>", "~/scripts/hubProxy")
    @Scripts.RenderFormat("<script src={0} type='module'></script>", "~/scripts/api")

</head>
<body>
    @RenderBody()

    @{ Html.RenderPartial("~/Views/Home/PointsSettingsLayer.cshtml");}


    @{ Html.RenderPartial("~/Views/Home/SettingsLayer.cshtml");}
    @Scripts.RenderFormat("<script src={0} type='module'></script>", "~/scripts/settings")


    @{ Html.RenderPartial("HomeMenu"); }

    @Scripts.Render("~/scripts/select")

</body>
</html>
