@using MapWebSite.Resources.text
<div class="info" id="_point-info">

    <h1>@TextDictionary.HPITitleText</h1>
    <hr />
    <div class="text">
        <div class="left-area">

            <h3>@TextDictionary.HPILongitudeText:</h3>
            <p id="longitude"></p>
            <h3>@TextDictionary.HPILatitudeText:</h3>
            <p id="latitude"></p>
        </div>

        <ul>
            <li>
                <label>@TextDictionary.HPIIDText</label>

                <label id="ID" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIHeightText</label>
                <label id="height" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIDeformationRateText</label>
                <label id="def_rate" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIStandardDeviationText</label>
                <label id="std_dev" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIEstimatedHeightText</label>
                <label id="est_height" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIEstimatedDefRateText</label>
                <label id="est_def_rate" class="value">N/A</label>
            </li>
        </ul>
    </div>
    <div class="plot_container">
        <svg class="plot" id="plot" version="1.1" width="1000" height="1000">


        </svg>

        <ul id="plot-menu" class="plot-menu">
            <li>
                <button onclick="changePlotType('bars')">
                    <object type="image/svg+xml" data="/Resources/resources/icons/bar_plot_icon.svg" width="25x" height="20px"></object>
                </button>
            </li>
            <li>
                <button onclick="changePlotType('line')">
                    <object type="image/svg+xml" data="/Resources/resources/icons/points_plot_icon.svg" width="25x" height="20px"></object>
                </button>
            </li>
        </ul>

        <div class="plot-popup plot-popup-hidden" id="plot-popup">
            <button class="plot-popup-close">X</button>
            <label class="plot-plopup-text"></label>
            
        </div>

        <h3 id="no-plot-text">@TextDictionary.HPINoPlotText</h3>
    </div>
</div>

