@using MapWebSite.Resources.text
<div class="info" id="_point-info">

    <h1>@TextDictionary.HPITitleText</h1>
    <hr />
    <div class="text">
        <div class="left-area">

            <h3>@TextDictionary.HPILongitudeText:</h3>
            <p id="longitude"></p>
            <h3>@TextDictionary.HPILatitudeText:</h3>
            <p id="latitude"></p>
        </div>

        <ul>
            <li>
                <label>@TextDictionary.HPIIDText</label>

                <label id="ID" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIHeightText</label>
                <label id="height" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIDeformationRateText</label>
                <label id="def_rate" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIStandardDeviationText</label>
                <label id="std_dev" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIEstimatedHeightText</label>
                <label id="est_height" class="value">N/A</label>
            </li>
            <li>
                <label>@TextDictionary.HPIEstimatedDefRateText</label>
                <label id="est_def_rate" class="value">N/A</label>
            </li>
        </ul>
    </div>
    <div class="plot-area">
        <div class="plot_container">
            <div class="plot" id="plot">


            </div>

            <div id="plot-menu" class="plot-menu">
                <div class="plot-menu-item">
                    <button onclick="changePlotType('bar')">
                        <object type="image/svg+xml" data="/Resources/resources/icons/bar_plot_icon.svg" width="16px" height="20px"></object>
                    </button>
                </div>
                <div class="plot-menu-item">
                    <button onclick="changePlotType('line')">
                        <object type="image/svg+xml" data="/Resources/resources/icons/points_plot_icon.svg" width="16px" height="20px"></object>
                    </button>
                </div>
                <div class="plot-menu-item">
                    <button onclick="changePlotType('points')">
                        <object type="image/svg+xml" data="/Resources/resources/icons/point_plot_icon.svg" width="16px" height="20px"></object>
                    </button>
                </div>

                <hr />

                <div class="plot-menu-item ">
                    <button onclick="drawRegressionFunction('linear')">
                        <object type="image/svg+xml" data="/Resources/resources/icons/linear_regression_icon.svg" width="16px" height="20px"></object>
                    </button>
                </div>
                <div class="plot-menu-item">
                    <button onclick="drawRegressionFunction('polynomial')">
                        <object type="image/svg+xml" data="/Resources/resources/icons/poly_regression_icon.svg" width="16px" height="20px"></object>
                    </button>
                </div>

                <hr />

                <div class="plot-menu-item">
                    <button onclick="drawReferenceAxis()">
                        <object type="image/svg+xml" data="/Resources/resources/icons/points_reference_icon.svg" width="16px" height="20px"></object>
                    </button>
                </div>

            </div>

            <div class="plot-popup plot-popup-hidden" id="plot-popup">
                <button class="plot-popup-close">X</button>
                <label class="plot-plopup-text"></label>

            </div>

            <h3 id="no-plot-text">@TextDictionary.HPINoPlotText</h3>
        </div>
    </div>
</div>

