@using MapWebSite.Resources.text
@{
    Layout = null;
}

<div id="color-picker-container"
     class="color-picker-container"
     onmousemove="changePosition()"
     onmousedown="changeButtonState(true)"
     onmouseup="changeButtonState(false)">
    <button id="slider" class="bar" onclick="addDot()"></button>
    <div id="dots-container">
        <span draggable="false" id="dot-1" class="dot" onmousedown="changeSelectedDot()"></span>
        <label style="left:30px">0%</label>
        <label style="left:816px">100%</label>
    </div>

</div>


<div id="color-picker" class="color-picker color-picker-hidden">
    <div class="color-picker-tumb"></div>
    <div class="color-container">
        <table>
            <tr>
                <th onclick="changeSpanColor('#b9475b')" style="background: #b9475b" />
                <th onclick="changeSpanColor('#4947b9')" style="background: #4947b9" />
                <th onclick="changeSpanColor('#53b947')" style="background: #53b947" />
                <th onclick="changeSpanColor('#b98847')" style="background: #b98847" />
                <th onclick="changeSpanColor('#b547b9')" style="background: #b547b9" />
                <th onclick="changeSpanColor('#142564')" style="background: #142564" />
                <th onclick="changeSpanColor('#1c6414')" style="background: #1c6414" />
                <th onclick="changeSpanColor('#e3a134')" style="background: #e3a134" />
            </tr>
            <tr>
                <th onclick="changeSpanColor('#575757')" style="background: #575757" />
                <th onclick="changeSpanColor('#fffe00')" style="background: #fffe00" />
                <th onclick="changeSpanColor('#18ac1e')" style="background: #18ac1e" />
                <th onclick="changeSpanColor('#ec1717')" style="background: #ec1717" />
                <th onclick="changeSpanColor('#3cb3ab')" style="background: #3cb3ab" />
                <th onclick="changeSpanColor('#ffff63')" style="background: #ffff63" />
                <th onclick="changeSpanColor('#e86751')" style="background: #e86751" />
                <th onclick="changeSpanColor('#201d1d')" style="background: #201d1d" />
            </tr>
        </table>

        <button onclick="changeColorPickerVisibility(false)">@TextDictionary.HMenuCPClosePicker</button>
        <button class="close-button" onclick="removeSpan()">X</button>
    </div>

</div>


<div id="color-picker-info-container"
     class="color-picker-info-container">
    <h1>@TextDictionary.HMenuCPTitleText</h1>

    <section class="instructions-container" id="instructions-container">
        <article id="picker-info-card">
            <object class="current_displayed_icon"
                    width="190px"
                    height="160px"
                    type="image/svg+xml"
                    data="~/Resources/resources/icons/first_gliph.svg" )></object>
            <h4>@TextDictionary.HMenuCPSubtitle1</h4>
            <small>
                @Html.Raw(TextDictionary.HMenuCPArticle1)        
            </small>
        </article>
        <article id="name-info-card">
            <object class="current_displayed_icon"
                    width="190px"
                    height="160px"
                    type="image/svg+xml"
                    data="~/Resources/resources/icons/second_gliph.svg" )></object>
            <h4>@TextDictionary.HMenuCPSubtitle2</h4>
            <small>@Html.Raw(TextDictionary.HMenuCPArticle2)</small>
            <br />
            <input onkeyup="enableSubmit()" id="color-palette-name" type="text" placeholder="@TextDictionary.HMenuCPNameInput">
        </article>
        <article id="finish-info-card">
            <object class="current_displayed_icon"
                    width="190px"
                    height="160px"
                    type="image/svg+xml"
                    data="~/Resources/resources/icons/third_gliph.svg" )></object>
            <h4>@TextDictionary.HMenuCPSubtitle3</h4>
            <small>
                @Html.Raw(TextDictionary.HMenuCPArticle3)
            </small><br />
            <button id="send-palette-button" onclick="sendColorPalette()" disabled>@TextDictionary.HMenuCPSubmitButton</button>
        </article>
    </section>
</div>

<script>
    getScript('#settings-layer', '/Resources/js/color_picker_color_list.js');
    getScript('#settings-layer', '/Resources/js/settings/settings_color_picker.js');
</script>