@using MapWebSite.Resources.text
@{
    Layout = null;
}

<div class="upload-points-container">
    <object class="current_displayed_icon"
            width="920px"
            height="460px"
            type="image/svg+xml"
            data="~/Resources/resources/icons/upload_points_gliph.svg" )></object>    
    <div id="upload_points_container_form" class="upload-points-container-text">
        <h2 id="current_percent" class="current-percent-hidden">0%</h2>
        <h1>@TextDictionary.HMenuUPTitle</h1>
        <small>
            @Html.Raw(TextDictionary.HMenuUPInstructionText)
        </small>

        <input onchange="changeFileInputAspect()" type="file" id="uploadFile" name="file" />
        <label id="file-input-visible" class="file-button-interaction" for="uploadFile">@TextDictionary.HMenuUPSelectFileButton</label>

        <label id="warning-text"><small>@TextDictionary.HMenuUPWarningText<br /></small></label>
        <input type="text" onkeyup="enableDatasetSubmit()" id="upload_points_dataset_name" placeholder="@TextDictionary.HMenuCPNameInput" />


        <button id="upload_points_submit" onclick="uploadDataSets()" disabled>@TextDictionary.HMenuCPSubmitButton</button>
    </div>
</div>

<script>
    getScript('#settings-layer', '/Resources/js/settings/settings_points_upload.js');
</script>